@{
    ViewData["Title"] = "Hakkında";
}

<div class="text-center">
    <h1 class="display-4">Hakkımızda</h1>
    <p>SD Sinema, en kaliteli film deneyimini sunmak için kurulmuş bir sinema zinciridir.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Misyonumuz</h3>
        <p>Müşterilerimize en iyi film deneyimini sunmak ve sinema kültürünü yaygınlaştırmak.</p>
    </div>
    <div class="col-md-6">
        <h3>Vizyonumuz</h3>
        <p>Türkiye'nin en güvenilir ve kaliteli sinema zinciri olmak.</p>
    </div>
</div> 