@{
    ViewData["Title"] = "Hata";
}

<div class="text-center">
    <h1 class="display-4">Hata</h1>
    <p>Bir hata oluştu. Lütfen tekrar deneyin.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Ana Sayfaya Dön</a>
</div> 